<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Faculty Plus</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="CSS/index.css" />
</head>

<body class="d-flex flex-column h-100">
  <header>
    <h1 class="main-header">Faculty Plus +</h1>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark main-navbar">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="/category/engineering" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Engineering
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/category/engineering/architecture">Architecture Faculty Jobs</a></li>
                <li><a class="dropdown-item" href="/category/engineering/aeronautical">Aeronautical Faculty Jobs</a></li>
                <li><a class="dropdown-item" href="/category/engineering/automobile">Automobile Faculty Jobs</a></li>
                <li><a class="dropdown-item" href="/category/engineering/agriculture">Agriculture Engineering Faculty Jobs</a></li>
                <li><a class="dropdown-item" href="/category/engineering/BME">BME Faculty Jobs</a></li>
                <li><a class="dropdown-item" href="/category/engineering/Civil">Civil Faculty Jobs</a></li>
                <li><a class="dropdown-item" href="/category/engineering/Chemical">Chemical Engineering Faculty Jobs</a></li>
                <li><a class="dropdown-item" href="/category/engineering/CSE">CSE Faculty Jobs</a></li>
                <li><a class="dropdown-item" href="/category/engineering/EEE">EEE Faculty Jobs</a></li>
                <li><a class="dropdown-item" href="/category/engineering/ECE">ECE Faculty Jobs</a></li>
                <li><a class="dropdown-item" href="/category/engineering/EIE">EIE Faculty Jobs</a></li>
                <li><a class="dropdown-item" href="/category/engineering/Mechanical">Mechanical Faculty Jobs</a></li>
                <li><a class="dropdown-item" href="/category/engineering/MBA">MBA Faculty Jobs</a></li>
                <li><a class="dropdown-item" href="/category/engineering/MCA">MCA Faculty Jobs</a></li>
                <li><a class="dropdown-item" href="/category/engineering/SH">Science and Humanities</a></li>
                <li><a class="dropdown-item" href="/category/engineering/all">View All Departments</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/category/polytechnic">Polytechnic</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/post">Post your Recruitment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
