<%- include("partials/header"); -%>

<main class="body">
  <h3 class="sub-header">Contact</h3>
  <div class="body-content">
    <p class="contact-details-person">Sajithra Ma'am,</p>
    <p class="contact-details-info">Admin - FacultyPlus<br/>
       Email address : facultyplus@gmail.com<br/>
       Facebook : www.facebook.com/facultyplus</p>
  </div>
</main>

<%- include("partials/footer"); -%>
