<%- include("partials/header") -%>

<main class="body">
  <h3 class="sub-header">Post your Recruitment</h3>
  <div class="body-content">
    <p>Hey Team,</p>
    <p>Thank you for showing interest in <a href="/">facultyplus.com</a>. To post your recruitment advertisement on Facultyplus Website, Please go through the below formats.</p>
    <ul>
      <li><a href="DATA/Faculty-Recruitment.docx" download >Faculty Recruitment</a></li>
      <li><a href="DATA/Research-Jobs.docx" download >Research Jobs</a></li>
      <li><a href="DATA/Faculty-Development-Program.docx" download >Faculty Development Program</a></li>
    </ul>
    <p>Sample Advertisement Copy your Reference: <a href="DATA/Advertisement-Reference-Copy.pdf" download >Click Here!</a> </p>
    <p>Fill in the details which are asked in format and send to <a href="mailto:ajaiqmar@gmail.com">facultyplus@gmail.com</a> </p>
    <p class="notes-header">Mandatory Notes :</p>
    <ul>
      <li>Send both filled format (.doc) and scanned copy of authorized letter from your college official mail.</li>
      <li>Attach Organization logo (high Resolution/Clear) in the mail</li>
    </ul>
    <p>There is no charge applicable for publishing faculty recruitment advertisements on facultyplus.com</p>
  </div>
</main>

<%- include("partials/footer") -%>
